extends layout

block scripts
	script(src='public/javascripts/angular.min.js')
	script(src='lib/angular-slider.js')
	//- script(src='dist/angular-lightbox.js')
	
block content
	h1= title
	br
	div(sl-cell-root ng-controller="ctrl")
		ul(sl-cell-wrapper)
			div(sl-cell slider-imgs="sliderImages")
	br
	btn(sl-btn="prev") prev
	btn(sl-btn="next") next
	script(src='public/javascripts/demo.js')